*,
html,
body{
    margin: 0;
    padding: 0;
    background: rgb(106, 33, 195);
    
}
form{
    width: 600px;
    margin: 100px auto 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #28ada4, 0 4px 8px 0 #0143a5;
    color: #ffffff;
    margin-bottom: 100px;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box1{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    background-color: #ffffff;
}
.div1{
    display: inline-block;
}
.box2{
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin: 10px 0 15px 0;
    background-color: #ffffff;
}
.btn{
    width: 49%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #4b7fb4;
    font-size: 18px;
    color: #ffffff;
}
.box3{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 10px 0 15px 0;
    background-color: #ffffff;
}
.navbar-default .navbar-brand{
    color: white;
}
p{
    margin: 100px;
    color: #ffffff;
}